/* Box Model Hack
* {
    box-sizing: border-box;
}

/* Clear fix hack
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
} */

/* .clear {
   clear: both;
} */

/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    color: #152a3e;
    background-color: white;
}
header {
    background: rgba(141,181,128,1);	
}

header,
#work,
#skills,
#about,
#contact,
footer {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 30px 0;
}

.content-wrapper {
    width: 90%;
    /* padding: 10px 0; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #152a3e;
    text-decoration: none;
    font-size: 1.1rem;
}

img {
    border-style: none;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.5;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h3, h4, h5, h6 {
    font-family: "Lekton", sans-serif;
}

p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */
nav {
   margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    font-size: 1rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
}

#contact-me {
    background-color: #eeefda;
    padding: 10px 15px;
    border-radius: 30px;
}

.home-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image,
.profile-title {
    width: 100%;
}

/* Portfolio Section */

.portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 5px;
}

#work figure {
    width: 90%;
    filter: drop-shadow(1px 2px 6px grey);
}

.portfolio-piece {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.project-title {    
    color: rgba(141,181,128,1);	;
    font-weight: bold;
    margin: 20px 0 40px 0;
}

.project-description {
    width: 100%;
    margin: 0 0 30px 0;
}

#work p {
    width: 100%;
    text-align: left;
}

span {
    color: rgba(141,181,128,1);	;
    font: bold;
}

.project-link {
    text-transform: uppercase;
    background-color: #e9b14c;
    padding: 1rem 2rem;
    border-radius: 25px;
    margin: 30px 0 40px 0;
}

/* Skills Section */
#skills {
    background-color: #b4c7d9;
}

#skills h3 {
    margin: 40px 0;
}

.skill,
.tool {
    background-color: #152a3e;
    text-align: center;
    padding: 10px 0;
    margin: 25px 0;
}

#skills p {
    color: #f8d697;
}

/* About Section */

#about img {
    border: #f7e8e8 solid 5px;
    max-width: 350px;
}

#about h3,
#about h4 {
    font-family: "Lexend", sans-serif;
    color: rgba(141,181,128,1);
    margin: 25px 0;
}

#about p {
    font-family: "Lekton", sans-serif;
    padding-bottom: 10px;
}

/* Contact Section */
#contact {
    background-color: #eeefda;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.social-icons i {
    font-size: 2.5rem;
    color: rgba(141,181,128,1)
}

footer p {
    margin: 40px 0 10px 0;
    text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 768px) {
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    header nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .home-title {
        flex-direction: row;
        justify-content: space-around;
    }

    .portfolio-wrapper {
        justify-content: space-around;
    }

    .portfolio-piece {
        width: 45%;
        align-items: center;
    }

    #skills .content-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .skills-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row;
    }

    .skills-and-tools {
        width: 40%;
    }

    .about-wrapper {
        width: 100%;
    }

    .about-info {
        display: flex;
        flex-flow: column;
    }

    #about img {
        max-width: 350px;
    }

    .about-text {
        /* width: 90%; */
        text-align: left;
    }

    #about h3 {
        text-align: center;
    }

    #contact .content-wrapper {
        flex-flow: column;
    }
    
}

@media (min-width: 1200px) {

    .content-wrapper {
        max-width: 1250px;
    }

    header .content-wrapper {
        justify-content: flex-end;
    }

    header nav {
        width: 45%;
        justify-content: flex-end;
    }

    header nav ul {
        justify-content: space-between;
        width: 80%;
    }

    .about-info {
        justify-content: space-between;
        flex-flow: nowrap;
    }

    #about figure {
        width: 45%;
    }

    #about img {
        max-width: 400px;
    }

    .about-text {
        width: 55%;
    }

    #about h3 {
        text-align: left;
    }

}