
/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    color: #003249;
    background-color: white;
}
header {
    background: #c5d9bf;	
}

header,
#work,
#skills,
#about,
#contact,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 30px 0;
}

.content-wrapper {
    width: 90%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #152a3e;
    text-decoration: none;
    font-size: .85rem;
}

img {
    border-style: none;
    width: 100%;
    margin-bottom: 10px;
    max-width: 300px;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.5;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h3, h4, h5, h6 {
    font-family: "Fira Code", "Lekton", sans-serif;
}

p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */
nav {
   margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    font-size: 1rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 5px;
}

nav #contact-me {
    background-color: #ffa987;
    padding: 10px 15px;
    border-radius: 30px;
}

nav ul li a:hover, #contact-me:hover {
    background-color: #ffc5ad;
    border-radius: 30px;
}

.home-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image,
.profile-title {
    width: 100%;
}

/* Portfolio Section */

.portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 5px;
}

#work figure {
    width: 90%;
    filter: drop-shadow(1px 2px 6px #735d78);
}

#work figure:hover {
    filter: drop-shadow(4px 8px 24px #735d78);
}

.portfolio-piece {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 3px solid #735d78;
}

.last {
    border-bottom: none;
    margin: 0;
}

.project-title {    
    color: #735d78;
    font-weight: bold;
    margin: 20px 0 40px 0;
}

.project-description {
    width: 100%;
    margin: 0 0 30px 0;
}

#work p {
    width: 100%;
    text-align: left;
}

span {
    color: #735d78;
    font: bold;
}

.project-link {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #ffa987;
    padding: 1rem 2rem;
    border-radius: 25px;
    margin: 30px 0 40px 0;
}

/* Skills Section */
#skills {
    background-color: #a9bcd0;
}

#skills h3 {
    margin: 40px 0;
}

.skill,
.tool {
    background-color: #003249;
    text-align: center;
    padding: 10px 0;
    margin: 25px 0;
}

#skills p {
    color: #ffa987;
}

/* About Section */

#about img {
    border: #735d78 solid 5px;
    max-width: 350px;
}

#about h3,
#about h4 {
    font-family: "Lexend", sans-serif;
    color: #735d78;
    margin: 25px 0;
}

#about p {
    font-family: "Lekton", sans-serif;
    padding-bottom: 10px;
}

/* Contact Section */
#contact {
    background-color: #c5d9bf;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.social-icons i {
    font-size: 2.5rem;
    color: #735d78;
}

footer p {
    margin: 40px 0 10px 0;
    text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 768px) {
    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    header nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    img {
        max-width: 450px;
    }

    header h1,
    header h2 {
        text-align: left;
    }

    .home-title {
        flex-direction: row;
        justify-content: space-around;
    }

    .portfolio-wrapper {
        justify-content: space-around;
    }

    .portfolio-piece {
        width: 45%;
        align-items: center;
        border: none;
    }

    .project-link:hover {
        background-color: #ffc5ad;
    }

    #skills .content-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .skills-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: wrap;
    }

    .skills-and-tools {
        width: 40%;
    }

    .about-wrapper {
        width: 100%;
    }

    .about-info {
        display: flex;
        flex-flow: column;
    }

    #about img {
        max-width: 350px;
    }

    .about-text {
        text-align: left;
    }

    #about h3 {
        text-align: center;
    }

    #contact .content-wrapper {
        flex-flow: column;
    }

    .social-icons i:hover {
        color: #4d3e51;
    }
    
}

@media (min-width: 1200px) {

    .content-wrapper {
        max-width: 1250px;
    }

    header .content-wrapper {
        justify-content: flex-end;
    }

    header nav {
        width: 45%;
        justify-content: flex-end;
    }

    header nav ul {
        justify-content: space-between;
        width: 80%;
    }

    .about-info {
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
    }

    #about figure {
        width: 45%;
    }

    #about img {
        max-width: 400px;
    }

    .about-text {
        width: 55%;
    }

    #about h3 {
        text-align: left;
        margin: 15px 0;
    }

    #about h4 {
        margin: 10px 0;
    }

}